// scss gloable variables
// layout container background color
$base-container-background:#ecf0f1;
// layout left aside width
$base-left-menu-width:260px;
// layout left aside background color
$base-left-menu-background:#2c3e50;
// layout top tabbar height
$base-top-tabbar-height:50px;
// layout top tabbar background color
$base-top-tabbar-background:#2ecc71;
// layout main background color
$base-main-background:#27ae60;